@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
body {
    margin: 0;
    font-family: 'Jua', sans-serif;
}
a {
    color: black;
    text-decoration: none;
}  
li {
    padding-bottom: 5px;
}
#title {
    font-size: 60px;
    margin: 0;
    padding: 20px;
    padding-top: 0;
    border-bottom: black solid 2px;
}
#grid {
    display: grid;
    grid-template-columns: 20% 80%;
    border-bottom: black solid 2px;
    font-size: 25px;
}
#grid ul {
    border-right: black solid 2px;
    margin: 0;
    padding-top: 20px;
    padding-left: 40px;
}
#article {
    padding: 20px;
}
#article h2 {
    margin: 0;
    padding-bottom: 10px;
}
#article ul {
    padding-top: 0;
}
.active {
    color: #ff5100; 
    font-weight: bolder;
}
@media(max-width:900px) {
    #grid {
    display: block;
    }
    #grid ul {
    border-right: none;
    margin-bottom: 20px;
    font-size: 20px;
    }
    #article h2 {
        font-size: 25px;
    }
    #title {
    font-size: 50px;
    }
}